<fieldset class="w-50 m-5">
    <legend></legend>
    <div class="form-group">
      <label for="name">Name</label>
      <input class="form-control" id="name" type="text" value="" name="name" required/>
    </div>
    <div class="form-group">
      <label for="amount">Amount Donated</label>
      <input class="form-control" id="amount" type="number" value="" name="amount" required />
    </div>
    <div class="form-group">
      <label for="date">Donation Date</label>
      <input class="form-control" id="date" type="date" value="" name="date" required />
    </div>
  </fieldset>