body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: green;
    color: white;
}

.content {
    margin: 0 auto;
    width: 200px;
}

.amount {
    margin: 0 auto;
    width: 200px;
}

table, td, th {
    border: 1px solid #aaa;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}

#amount {
    width: 70%;
}
