{% extends 'base.html' %}

{% block head %}
<title>Charity Tracker</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Charity Tracker</h1>
    {% if donations|length < 1 %}
    <h4 style="text-align: center">No donations have been made yet. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>Donated Charity</th>
            <th>Amount Donated</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for donation in donations %}
            <tr>
                <td>{{ donation.content }}</td>
                <td>{{ donation.amount }}</td>
                <td>{{ donation.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{donation.id}}">Delete</a>
                    <br>
                    <a href="/update/{{donation.id}}">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <div class="form">
        <form action="/" method="POST">
            <h3>Charity Name</h3><input type="text" name="content" id="content">
            <h3>Amount to Donate</h3><input type="number" name="amount" id="content">
            <input type="submit" value="Make Donation">
        </form>
    </div>
</div>
{% endblock %}
